<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.animal.photo.key  %> )" id = "status-<%= booking.status %>">
  <h1><%= booking.animal.name %></h1>
</div>
<%# <details div %>
<%# <category div %>
<%# < card end %>
<div class="card-details">
  <h4>From:<%= booking.start_date %> To:<%= booking.end_date %></h4>
  <div class="d-flex">
    <% if booking.pending? %>
      <%= simple_form_for booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
        <%= f.submit 'Accept', class: 'btn btn-info' %>
      <% end %> <%# <accept end %>
      <%= simple_form_for booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
        <%= f.submit 'Reject', class: 'btn btn-light' %>
      <% end %> <%# reject end %>
    <% end %><%# if statement form end %>
  </div>
  <%# < dflex div %>
</div>
</div>
