<%= render "tabs" %>
<hr>
<div class="container mt-3">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
      <h6><%= @bookings.pending.count %> pending animals</h6>
      <div class="booking_cards">
        <% current_user.bookings.pending.each do |booking|  %>
          <%= link_to animal_path(booking.animal), class: "links" do %>
            <%= render(partial: "booking_cards", locals: { booking: booking }) %>
          <% end %> <%# < card end %>
        <% end %> <%# <link end %>
      </div>
      <h6><%= @bookings.accepted.count %> current animals</h6>
      <div class="booking_cards">
        <% current_user.bookings.accepted.each do |booking|  %>
          <%= link_to animal_path(booking.animal), class: "links" do %>
            <%= render(partial: "booking_cards", locals: { booking: booking }) %>
          <% end %> <%# < card end %>
        <% end %> <%# <link end %>
      </div>
  <%# <card div %>
      <div class="booking_cards">
        <h6><%= @bookings.rejected.count %> rejected bookings </h6>
        <% current_user.bookings.rejected.each do |booking|  %>
          <%= link_to animal_path(booking.animal), class: "links" do %>
            <%= render(partial: "booking_cards", locals: { booking: booking }) %>
          <% end %> <%# < card end %>
        <% end %> <%# <link end %>
      </div>
    </div>
 <%# <tab-pane div %>
    <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <h6><%= current_user.bookings_as_owner.pending.count %> animals currently pending</h6>
      <div class="booking_cards">
        <% current_user.bookings_as_owner.pending.each do |booking|  %>
          <div class="card-link">
            <%= link_to animal_path(booking.animal), class: "links" do %>
              <%= render(partial: "owner_booking_cards", locals: { booking: booking }) %>
            <% end %> <%# <link end %>
          <% end %>
        </div>
      </div>
      <h6><%= current_user.bookings_as_owner.accepted.count %> currently out</h6>
      <div class="booking_cards">
        <% current_user.bookings_as_owner.accepted.each do |booking|  %>
          <div class="card-link">
            <%= link_to animal_path(booking.animal), class: "links" do %>
              <%= render(partial: "owner_booking_cards", locals: { booking: booking }) %>
            <% end %> <%# <link end %>
          <% end %> <%# <card end %>
        </div>
      </div>
    </div>
 <%# <card div %>
  </div>
  <%# <tab-pane div %>
</div>
<%# <tab-content div %>
<%# container div %>
